<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Welcome to My First Heroku Project</h1>
    <p>This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.newsapp.io"><span class="glyphicon glyphicon-flash"></span> Read Latest News</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/Swetabhsuman8/node-js-getting-started"><span class="glyphicon glyphicon-download"></span>Visit Swetabh GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Well, this is Swetabh Suman, I just deployed my website on Heroku platform, head over to the <a href="https://swetabh-heroku-project.herokuapp.com/" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> It was not easy on Windows laptop but I did it</h3>
      <ul>
        <li>So This app was deployed to Heroku, using Git <a href="https://swetabh-heroku-project.herokuapp.com/">Swetabh gitHub Project</a> on the repository.</li>

        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://swetabh-heroku-project.herokuapp.com/">package.json</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Thanks for visiting my first project on Heroku <a href="https://swetabh-heroku-project.herokuapp.com/">Thanks again</a> You can simpley create your project on Heroku by learning Node!</li>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="http://swetabh-heroku-project.herokuapp.com/">My Project</a></li>
        <li><a href="https://www.newsapp.io/">Best News Website</a></li>
        <li><a href="https://github.com/Swetabhsuman8">My Github</a></li>
        <li><a href="#">Or Google- Swetabh Suman</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Swetabh Suman Singh
  </div>
</div>


</body>
</html>
